[submodule "RakDotNet"]
	path = RakDotNet
	url = https://github.com/yuwui/RakDotNet.git
[submodule "RakDotNet.IO"]
	path = RakDotNet.IO
	url = https://github.com/yuwui/RakDotNet.IO
[submodule "InfectedRose"]
	path = InfectedRose
	url = https://github.com/Wincent01/InfectedRose.git
