[submodule "RakDotNet"]
	path = RakDotNet
	url = https://github.com/yuwui/RakDotNet.git
[submodule "InfectedRose"]
	path = InfectedRose
	url = https://github.com/Wincent01/InfectedRose.git
[submodule "NexusLogging"]
	path = NexusLogging
	url = https://github.com/TheNexusAvenger/Nexus-Logging.git
